<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <title>Butik</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <button onclick="openMenu()">
          &#9776;
        </button>
        <a href="index.html">Butik</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>
    <aside class="sidebar">
      <h3>Shopping Categories</h3>
      <button class="sidebar-close-button" onclick="closeMenu()">x</button>
      <ul>
        <li>
          <a href="index.html">Dry Veteriner Food</a>
        </li>

        <li>
          <a href="index.html">Food</a>
        </li>

      </ul>
    </aside>
    <main class="main">
      <div class="content">
        <ul class="products">
          <li>
            <div class="product">
              <img class="product-image" src="images/hills urinary.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">c/d Urinary Care Multicare med kyckling</a>
              </div>
              <div class="product-brand">Hill's Prescription Diet Feline</div>
              <div class="product-price">179 sek</div>
              <div class="product-wight">1,5 kg</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>

          <li>
            <div class="product">
              <img class="product-image" src="images/sd hills bl.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html"> s/d Urinary Care</a>
              </div>
              <div class="product-brand">Hill's Prescription Diet Feline</div>
              <div class="product-price">25 sek</div>
              <div class="product-wight">156 g</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>


          
          <li>
            <div class="product">
              <img class="product-image" src="images/s d hills.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">s/d Urinary Care med kyckling</a>
              </div>
              <div class="product-brand">Hill's Prescription Diet Feline</div>
              <div class="product-price">209 sek</div>
              <div class="product-wight">1,5 kg</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/metab+urinar hills.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html"> Metabolic + Urinary Stress</a>
              </div>
              <div class="product-brand">Hill's Prescription Diet Feline</div>
              <div class="product-price">249 sek</div>
              <div class="product-wight">1,5 kg</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/k d hills.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html"> k/d Kidney Care</a>
              </div>
              <div class="product-brand">Hill's Prescription Diet Feline</div>
              <div class="product-price">209 sek</div>
              <div class="product-wight">1,5 kg</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/i d hills.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">i/d Digestive Care</a>
              </div>
              <div class="product-brand">Hill's Prescription Diet Feline</div>
              <div class="product-price">229 sek</div>
              <div class="product-wight">1,5 kg</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/z d hills.jpg " alt="product" />
              <div class="product-name">
                <a href="product.html"> z/d Food Sensitivities</a>
              </div>
              <div class="product-brand">Hill's Prescription Diet Feline</div>
              <div class="product-price">319 sek</div>
              <div class="product-wight">2 kg</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
 
          <li>
            <div class="product">
              <img class="product-image" src="images/s d hills.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">c/d Multicare Urinary Care</a>
              </div>
              <div class="product-brand">Hill's Prescription Diet Feline</div>
              <div class="product-price">20 sek</div>
              <div class="product-wight">156 g</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/cd bl.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">c/d Urinary Stress Stew med kyckling</a>
              </div>
              <div class="product-brand">Hill's Prescription Diet </div>
              <div class="product-price">15 sek</div>
              <div class="product-wight">82 g</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>

          <li>
            <div class="product">
              <img class="product-image" src="images/kd bl.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html"> k/d Kidney Care Chicken</a>
              </div>
              <div class="product-brand">Hill's Prescription Diet </div>
              <div class="product-price">25 sek</div>
              <div class="product-wight">156 g</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>

          <li>
            <div class="product">
              <img class="product-image" src="images/id bl.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html"> i/d Digestive Care Chicken</a>
              </div>
              <div class="product-brand">Hill's Prescription Diet </div>
              <div class="product-price">25 sek</div>
              <div class="product-wight">156 g</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>

          <li>
            <div class="product">
              <img class="product-image" src="images/zd bl.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html"> z/d Food Sensitivities Original</a>
              </div>
              <div class="product-brand">Hill's Prescription Diet </div>
              <div class="product-price">25 sek</div>
              <div class="product-wight">156 g</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
        </ul>
      </div>

    </main>
    <footer class="footer">
      All right reserved.
    </footer>
  </div>
  <script>
    function openMenu() {
      document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu() {
      document.querySelector(".sidebar").classList.remove("open")
    }
  </script>
</body>

</html>